.userItem {
  display: flex;
  align-items: center;
  color: inherit;
  .userItemInfo {
    margin-left: 8px;
    align-self: flex-start;
    opacity: 0.75;
  }
  .description {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.55;
  }
}
